@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: ("../fonts/ptsans-400.woff2") format("woff2");
  display: swap;
  }
@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: ("../fonts/ptsans-700.woff2") format("woff2");
    display: swap;
    }
body {
      font-family: "PT Sans", sans-serif;
      font-size: 18px;
      line-height: 21px;
      color: #000000;
      background-color: #FFFFFF;
    }
    /* главная страница */
.main-header {
  color: #000000;
  background-color: #F2F2F2;
    }
    /* каталог */
.main-inner {
  color: #000000;
  background-color: #FFFFFF;
}
    /* для ссылок в шапке */
.navigation-link {
  font-size: 20px;
  line-height: 26px;
  color:inherit;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  }
   /* для кнопки "хочу сюда" */
.navigation-user {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color:#FFFFFF ;
  background-color: #756257;
  text-decoration: none;
  text-transform: uppercase;
}
/* фоновый рисунок */
.main-index {
  color: #000000;
  background-color: #F2F2F2;
  background-image: url("../images/index-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;

}
/* текст " Седона — небольшой городок в Аризоне, заслуживающий большего!"*/
.about b {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}
/* текст для всего блока преемуществ */
.features-list-item {
  font-size: 18px;
  line-height : 21px;
  text-align: center;
  color:#333333 ;
  background-color: rgba(131, 179, 211, 0.12);

}
/* текст заголовков преимуществ */
.features-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-align: center;
  color: #000000;
}
/* пункт с иконкой еды */
.food {
 background-color: #FFFFFF;
}
/* пункт с красивой дорогой */
.beautiful-road {
  background-color: (131, 179, 211, 0.2);
}
/* список с рисунками */
.image {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  text-align: center;
  color: #FFFFFF;
  background-color: #83B3D3;
}
/* заголовки списка с рисунками */
.image .features-title-image {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}
/* блок с поиском гостиницы в Седоне */
.search-hotel {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
  color: #333333;
  background-color: #FFFFFF;
}
/* Вопрос "Заинтересовалис?" */
.search-hotel-question {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  background-color: #FFFFFF;
  text-transform: uppercase;
}
/* кнопка поиска гостиницы */
.button-search-hotel {
  font-family: inherit;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
  background-color: #756257;
  text-decoration: none;
  text-transform: uppercase;
}
/* Блок с предложением подписаться */
.newsletter {
  color: #FFFFFF;
  background-color: #000000;
  background-image: url(../images/background-subscription.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
}
/* заголовок блока с предложением подписаться */
.newsletter-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}
/* кнопка подписаться */
.newsletter-button {
  font-family: inherit;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
  background-color: #83B3D3;
  text-decoration: none;
  text-transform: uppercase;
}
.main-footer {
  color:#000000;
  background-color: #FFFFFF;
}
/* номер телефона*/
.telephone {
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  color: #000000;
  background-color: #FFFFFF;
}
/* основная сортировка в Каталоге */
.basic-sorting {
  color: #FFFFFF;
  background-color: #000000;
  background-image: url(../images/catalog-background.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  text-align: center;
  }
  /* Заголовок сортировки в Каталоге */
  .inner-header-title {
   font-size: 60px;
   line-height: 77px;
   font-weight: 700;
  }
/* хлебные крошки */
.breadcrumbs {
 color: #FFFFFF;
}
/* ссылки у хлебных крошек */
.breadcrumbs-link {
  color: inherit;
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
}
/*заголовки сортировки */
.catalog-filter-title {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
}
/* кнопка применить */
.button-apply {
  font-family: inherit;
  font-size: 16px;
  line-height: 21px;
  font-family: 700;
  text-align: center;
  color: #FFFFFF;
  background-color: #83B3D3;
  text-decoration: none;
  text-transform: uppercase;
}
/* кнопка сбросить */
.button-reset {
  font-family: inherit;
  font-size: 18px;
  line-height: 23px;
  font-family: 400;
  text-align: center;
  color: #FFFFFF;
  background:transparent;
  text-decoration: none;
  }
  /* результат поиска */
  .result {
    font-size: 30px;
    line-height: 39px;
    font-weight: 700;
    color: #000000;
    background-color: #FFFFFF;
  }
  /*  */
