@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: ("/fonts/ptsans-400.woff2") format("woff2");
  display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: ("/fonts/ptsans-700.woff2") format("woff2");
  display: swap;
}
html {
  height: 100%;
}
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #f2f2f2;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.page-center-container {
  width: 1200px;
  padding-left: 40px;
  padding-right: 40px;
  margin: 0 auto;
}
/* контейнер основной части страницы */
.main-container {
  flex-grow: 1;
}
/* главная страница */
.main-header {
  color: #000000;

}
/* каталог */
.main-inner {
  color: #000000;
  background-color: #ffffff;
}
/* контейнер с навигацией в шапке */
.main-nav {
  display: flex;
}
/* логотип в шапке */
.logo {
  width: 139px;
  margin-left: 70px;
  padding: 0;
}
/* список (контейнер) ссылок в навигации слева*/
.site-navigation {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0;
  margin: 0 17px 0 47px;
  min-width: 345px;
  list-style-type: none;
}
/* элемент списка в навигации слева */
.site-navigation-item {
  margin-right: 34px;
}

/* список (контейнер) ссылок в навигации справа */
.site-navigation-user {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  min-width: 264px;
  margin: 0 70px 0 0;
  padding: 0;
  margin-left: auto;
  list-style-type: none;
}

/* для ссылок в шапке  (состояние покой) */
.navigation-link {
  font-size: 20px;
  line-height: 26px;
  color: inherit;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  padding: 0;
}
/* ссылки иконок */
.link-user {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18px;
  height: 18px;
  margin-right: 24px;
}
/*  состояние наведение*/
.navigation-link:hover {
  color: #756257;
}
/* состояние нажатие  */
.navigation-link:active {
  color: #7562574d;
}
/* активное состояние когда юзер находится на странице */
.site-navigation-item-current {
  border-bottom: 2px solid #756257;
}
/* иконка  состояние покоя*/
.navigation-icon {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #000000;
}
/* состояние наведения */
.link-user:hover .navigation-icon {
  fill: #756257;
}
/* состояние нажатия */
.link-user:active .navigation-icon {
  fill: #7562574d;
}
/* для кнопки "хочу сюда"(это ссылка) ; состояние покоя*/
.navigation-user {
  display: block;
  padding: 9px 15px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #756257;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 4px;
  margin-left: 8px;
  min-width: 160px;
}
/* состояние наведение */
.navigation-user:hover {
  background-color: #615048;
}
/* состояние фокус */
.navigation-user:focus {
  background-color: #615048;
  outline: 3px solid #83b3d3;
}
/* состояние нажатие */
.navigation-user:active {
  background-color: #615048;
  color: #ffffff4d;
}

/* фоновый рисунок */
.welcome {
  height: 485px;
  background-image: url("../images/index-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}
/* логотип сайта седоны */
.welcome {
  padding-left: 371px;
  padding-right: 371px;
  padding-top: 51px;
  padding-bottom: 25px;
}
.about {
  margin: 63px 240px 80px;
}

/* текстовое содержание в  блоке о седоне */
.about p {
  text-align: center;
}
/* текст " Седона — небольшой городок в Аризоне, заслуживающий большего!"*/
.about b {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}
/*  текст "Рассмотрим 5 причин, по которым Седона круче, чем Гранд-Каньон!" */
.five-reasons {
  margin-top: 31px;
}
/* блок с преимуществами */
.features-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
/*Дополнительный список в 1 пункте */
.feature-list-icon {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
}
/*  блоки дополнительного списка в 1 пункте */
.feature-list-icon .features-list-item {
  width: 400px;
  min-height: 384px;
}
/* текст для всего блока преемуществ */
.features-list-item {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #333333;
  background-color: rgba(131, 179, 211, 0.12);
  margin: 0;
  width: 400px;
  min-height: 384px;
}
/* текст заголовков преимуществ */
.features-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  margin: 0;
  padding-top: 97px;
  padding-bottom: 30px;
}
/* иконка домика */
.icon-house {
  background-image: url("../images/icons/icon-house.svg");
  background-repeat: no-repeat;
  background-position-y: 90px;
  background-position-x: 162px;
}
/* иконка с бургером */
.icon-burger {
  background-image: url("../images/icons/icon-food.svg");
  background-repeat: no-repeat;
  background-position-y: 90px;
  background-position-x: 162px;
}
/* иконка с сувенирами */
.icon-gift-box {
  background-image: url("../images/icons/icon-present.svg");
  background-repeat: no-repeat;
  background-position-y: 85px;
  background-position-x: 168px;
}
/* пункт с иконкой еды */
.features-list-item:nth-child(2) {
  background-color: #ffffff;
}
/* пункт с красивой дорогой */
.features-list-item:nth-child(4) {
  background-color: rgba(131, 179, 211, 0.2);
}
/* блок с фото городка  */
.image-town {
  display: flex;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
  background-color: #83b3d3;
}

/*блок с фото моста дьявола */
.image-bridge {
  display: flex;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
  background-color: #83b3d3;
}
/* заголовки списка с изображениями городка и моста дьявола */
.features-title-image {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0;
  padding-top: 97px;
  padding-bottom: 30px;
}
/* заголовки в блоке с иконками */
.benefits-header-with-icons {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  margin: 0;
  padding-top: 184px;
  padding-bottom: 20px;
}
.features-list span {
  display: block;
  margin-bottom: 30px;
}
/* изображение моста */
.description-image-bridge {
  order: 1;
}
p {
  margin: 0;
}
/* блок с поиском гостиницы в Седоне */
.search-hotel {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
  color: #333333;
  background-color: #ffffff;
}
/* Вопрос "Заинтересовались?" */
.search-hotel-question {
  display: block;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  text-transform: uppercase;
  margin-top: 91px;
  margin-bottom: 29px;
}
/* текст в блоке поиска гостиницы */
.search-hotel p {
  width: 720px;
  min-height: 52px;
  align-self: center;
  margin: 0 auto;
  margin-bottom: 56px;
}
/* кнопка поиска гостиницы  -состояние покоя*/
.button-search-hotel {
  display: block;
  margin: 0 auto;
  width: 575px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 93px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 10px;
  font-family: inherit;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #756257;
  text-decoration: none;
  text-transform: uppercase;
}
/* состояие наведения */
.button-search-hotel:hover {
  background-color: #615048;
}
/* состояние фокуса */
.button-search-hotel:focus {
  background-color: #615048;
  border: 3px solid #83B3D3;
  box-sizing: border-box;
}
/* состояние нажатия  */
.button-search-hotel:active {
  background-color: #615048;
  color: rgba(255, 255, 255, 0.7);
}
/* Блок с предложением подписаться */
.newsletter {
  color: #ffffff;
  background-color: #000000;
  background-image: url(../images/background-subscription.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
  min-height: 411px;
}
/* заголовок блока с предложением подписаться */
.newsletter-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding-top: 94px;
  padding-bottom: 29px;
  min-width: 720px;
}
/* текст в блоке с предложением подписаться */
.newsletter p {
  display: block;
  margin: 0 auto;
  margin-left: 240px;
  margin-right: 240px;
  margin-bottom: 46px;
  min-height: 52px;
}
/* форма подписки вместе скнопкой подписатья */
.newsletter-form {
  min-height: 61px;
}
/* кнопка подписаться  состояние покоя*/
.newsletter-button {
  display: inline-block;
  box-sizing: border-box;
  border: none;
  padding: 14px 20px;
  border-radius: 0px 10px 10px 0px;
  font-family: inherit;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #83b3d3;
  text-decoration: none;
  text-transform: uppercase;
  min-height: 61px;
  min-width: 200px;
}
/* состояние наведения */
.newsletter-button:hover {
  background-color: rgba(104, 162, 202, 1);
}
/* состояние фокуса */
.newsletter-button:focus {
  background-color: rgba(104, 162, 202, 1);
  border: 3px solid #756257;
  box-sizing: border-box;
}
/* состояние нажатие */
.newsletter-button:active {
  background-color: rgba(104, 162, 202, 1);
  color: rgba(255, 255, 255, 0.7);
}
.main-footer {
  display: flex;
  justify-content: space-between;
  color: #000000;
  background-color: #ffffff;
  min-height: 120px;
}
/* группа с социальными ссылками */
.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 0 0 0 72px;

  min-height: 40px;
}
/*пункты с  ссылками на социальные сети */
.footer-social-item {
  min-height: 20px;
  min-width: 20px;
  margin-right: 30px;
}
.footer-social-item:nth-child(3n) {
  margin-right: 0;
}
/* ссылки на социальные сети */
.button-social-item {
  display: flex;
  min-height: 20px;
  min-width: 20px;
  padding: 10px;
  }
  /* иконка в состоянии покоя */
  .footer-social-icon {
    fill: rgba(131, 179, 211, 1);
  }
/* состояние наведения */
.button-social-item:hover .footer-social-icon {
  fill: rgba(104, 162, 202, 1);
}
/* состояние фокуса */
.button-social-item:focus {
  box-sizing: border-box;
  border: 3px solid #83b3d3;
  border-radius: 10px;
  padding: 10px;
}
/* цвет в состояние фокуса для иконки */
.button-social-item:focus .footer-social-icon {
  fill: rgba(104, 162, 202, 1);
  }
/* состояние нажатия */
.button-social-item:active .footer-social-icon{
  fill: rgba(104, 162, 202, 1);
  opacity: 0.3;
}
/* номер телефона состояние покоя*/
.telephone {
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  color: #000000;
  background-color: #ffffff;
  min-height: 50px;
  margin-top: 40px;
  margin-bottom: 30px;
}
/* состояние наведения */
.telephone:hover {
  color: rgba(117, 98, 87, 1);
}
/* состояние фокуса */
.telephone:focus {
  box-sizing: border-box;
  color: rgba(117, 98, 87, 1);
  border: 3px solid #83b3d3;
  border-radius: 10px;
  padding: 15px;
  margin: auto;
}
/* состояние нажатия */
.telephone:active {
  color: #756257;
  opacity: 0.3;
}
/* логотип htmlacademy -состояние покоя */
.logo_htmlacademy {
  width: 115px;
  height: 34px;
  margin-top: 42px;
  margin-right: 72px;
  padding: 10px;

}
/* состояние наведения */
.logo_htmlacademy:hover {
  fill: #615048;
}
/* состояние фокуса */
.logo_htmlacademy:focus {
  width: 115px;
  height: 34px;
  box-sizing: border-box;

  border: 3px solid #83b3d3;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 10px;
  }
  /*цвет логотипа в состоянии нажатии */
  .logo_htmlacademy:focus .icon-htmlacademy {
    fill: #756257;
  }
/* состояние нажатия */
.logo_htmlacademy:active {
  fill: #756257;
  opacity: 0.3;
}
/* основная сортировка в Каталоге */
.basic-sorting {
  color: #ffffff;
  background-color: #000000;
  background-image: url(../images/catalog-background.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  text-align: center;
  min-height: 408px;
}
/* Заголовок сортировки в Каталоге */
.inner-header-title {
  font-size: 60px;
  line-height: 77px;
  font-weight: 700;
  margin-top: 35px;
  margin-bottom: 5px;
  margin-left: 70px;

  width: 600px;
}
/* хлебные крошки */
.breadcrumbs {
  display: flex;
  margin: 0 0 0 80px;
  padding: 0;
  list-style-type: none;
  color: #ffffff;
}
/* ссылки у хлебных крошек */
.breadcrumbs-link {
  margin-right: 26px;
  color: inherit;
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
}
/*заголовки сортировки */
.catalog-filter-title {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
}
/* контейнер сортировки в каталоге */
.catalog-filter {
  display: flex;
  margin: 45px 71px 83px;
}
/* списки с сортировкой */
.catalog-filter-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/*  колонки с сортировкой отелей */
.catalog-filter-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0;
  padding: 0;
  padding-top: 30px;
}
/* элемент сортировки отелей  */
.catalog-filter-list-item {
  padding-bottom: 13px;
}
/* группировка форм в сортировке */
.catalog-filter-group {
  padding: 0;
  margin: 0;
  margin-right: 67px;
}
/* контейнер с кнопками применит и сбросить в сортировке */
.apply-and-reset-buttons-in-sorting {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
}
/* кнопка применить */
.button-apply {
  font-family: inherit;
  font-size: 16px;
  line-height: 21px;
  font-family: 700;
  text-align: center;
  color: #ffffff;
  background-color: #83b3d3;
  text-decoration: none;
  text-transform: uppercase;
  margin-bottom: 20px;
}
/* кнопка сбросить */
.button-reset {
  font-family: inherit;
  font-size: 18px;
  line-height: 23px;
  font-family: 400;
  text-align: center;
  color: #ffffff;
  background: transparent;
  text-decoration: none;
}
/* блок с результатом поиска */
.assortment-hotel {
  display: flex;
  justify-content: space-between;
  margin-top: 44px;
  margin-bottom: 53px;
  padding-left: 71px;
  padding-right: 71px;
}
/* результат поиска */
.result {
  font-size: 30px;
  line-height: 39px;
  font-weight: 700;
  color: #000000;
  background-color: #ffffff;
  margin-right: 192px;
}
/* расширенный список */
.select-control {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  color: #333333;
  background-color: #ffffff;
  padding: 0;
  margin-right: auto;
}
/* кнопки вывода способа показа карточек */
.assortment-hotel .button {
  width: 48px;
  height: 48px;
  margin-left: 8px;
  outline: 5px solid rgba(255, 99, 78, 0.5);
  outline-offset: -5px;
}
/* список карточек гостиниц */
.product-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  row-gap: 10px;
  column-gap: 18px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
/* блок с карточками гостиниц */
.card-hotel {
  padding-left: 72px;
  padding-right: 72px;
  outline: 5px solid rgba(255, 99, 78, 0.5);
  outline-offset: -5px;
}
/* элемент списка карточек товара */
.product-card {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  color: #333333;
  background-color: #ffffff;
  min-width: 300px;
}
/* изображение карточки гостиниц */
.product-card-image {
  min-width: 299px;
  background-color: #ffffff;
  object-fit: contain;
}
/* контейнер с текстовым содержимым карточки товара */
.product-card-content {
  min-width: 300px;
  margin-top: 16px;
  margin-bottom: 20px;
}

/* контейнер гостиница-цена */
.hotel-price {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
  min-width: 300px;
}
/* контейнер кнопок подробнее-избранное */
.container-button-more-favorites {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
  min-width: 300px;
}
/* стилизация для ссылок-названий */
.product-card-title {
  font-size: 24px;
  line-height: 31px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  background-color: inherit;
  text-decoration: none;
  margin: 0;
  margin-bottom: 16px;
}
/* стилизация ценника */
.product-card-price {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  color: #333333;
  background-color: #ffffff;
}
/* стилизация рейтинга */
.rating {
  margin-left: auto;
  padding: 10px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}
/* кнопка подробнее */
.product-card-button-more {
  font-family: inherit;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #756257;
  text-decoration: none;
  text-transform: uppercase;
}
/* кнопка избранное */
.product-card-button-favorites {
  font-family: inherit;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #83b3d3;
  text-decoration: none;
  text-transform: uppercase;
  align-self: flex-end;
}
/* кнопка загрузить еще */
.button-show-more {
  font-family: inherit;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #83b3d3;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  margin: 0 auto;
}
/* контейнер с пагинацией и раскрывающимся списком */
.pagination-container {
  display: flex;
  padding-left: 72px;
  padding-right: 72px;
  padding-top: 30px;
}
/* контейнер с пагинацией */
.pagination {
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
/* пробелы между пагинацией */
.pagination-item:not(:last-child) {
  margin-right: 8px;
}
/* стилизации пагинации ссылок */
.pagination-link {
  display: block;
  box-sizing: border-box;
  font-family: inherit;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #83b3d3;
  text-decoration: none;
  text-transform: uppercase;
  width: 55px;
  height: 55px;
  margin: 0;
  padding: 15px 15px;
}
/* стилизация кнопки "1" в пагинации */
.pagination-current {
  color: #000000;
  background-color: #f2f2f2;
}
/* раскрывающийся список гостиниц в результате поиска */
.number-per-page {
  display: flex;
  margin-left: auto;
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  color: #333333;
  background-color: #ffffff;
}
.number-per-page p {
  min-width: 175px;
  min-height: 23px;
  padding: 16px 51px 16px 0;
}
/* раскрывающийся список в пагинации */
.number-of-hotels {
  margin: 4px 0 4px 0;
  width: 160px;
}
/* блок с рассылкой в каталоге */
.newsletter-catalog {
  width: 800px;
  min-height: 241px;
  padding-top: 73px;
  padding-bottom: 140px;
  margin: 0 auto;
  font-family: inherit;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: #333333;
  background-color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}
/* текст в блоке */
.newsletter-catalog p {
  padding: 0 40px 46px 40px;
  min-width: 720px;
  min-height: 52px;
}
.newsletter-catalog-title {
  margin: 0;
  min-width: 720px;
  min-height: 52px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 46px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}
