@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: ("../fonts/ptsans-400.woff2") format("woff2");
  display: swap;
  }
@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: ("../fonts/ptsans-700.woff2") format("woff2");
    display: swap;
    }
body {
      font-family: "PT Sans", sans-serif;
      font-size: 18px;
      line-height: 21px;
      color: #000000;
      background-color: #FFFFFF;
    }
    /* Pages */
.main-header {
  color: #000000;
  background-color: #F2F2F2;
    }
    /* для ссылок в шапке */
.navigation-link {
  font-size: 20px;
  line-height: 26px;
  color:inherit;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  }
   /* для кнопки "хочу сюда" */
.navigation-user {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color:#FFFFFF ;
  background-color: #756257;
  text-decoration: none;
  text-transform: uppercase;
}
/* фоновый рисунок */
.main-index {
  color: #000000;
  background-color: #F2F2F2;
  background-image: url("../images/index-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;

}
/* текст " Седона — небольшой городок в Аризоне, заслуживающий большего!"*/
.about b {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}
/* текст списка преимуществ c фото */
.features-list-item-image {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #FFFFFF;
  background-color: #83B3D3;
}
/* заголовок текста преимуществ с фото */
.features-title-image {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #83B3D3;
}



